fastapi
uvicorn
redis
rq
langchain
langchain_openai
pydantic
python_dotenv
pydantic_settings
qdrant-client
langchain-qdrant
fastembed
sentence-transformers
docling
langchain_text_splitters
pytest
python-multipart
aioboto3
asyncpg
sqlalchemy
greenlet
passlib[bcrypt]
python-jose[cryptography]